<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="resultsLocation" value="d:\GNSClassifier\output\results.txt"/>
    <add key="contestLocation" value="d:\GNSClassifier\contest\results.txt"/>
  </appSettings>
</configuration>